<div class="uk-grid uk-margin-top">
  <div class='uk-width-medium-2-3' data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
    <div class="uk-grid">
      <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box" >
          <p>总收益</p>
          <h1>87.5元</h1>
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box" >
          <p>总资产</p>
          <h1><%= Transaction.total_amount(current_user) %>元</h1>
        </div>
      </div>
      <div class="uk-width-medium-1-1 uk-margin-top">
        <div class="uk-panel uk-panel-box" >
          <div id='pie'></div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-medium-1-3">
    <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-right'}">
      收益明细列表
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
  $('#pie').highcharts({
    chart: {
      backgroundColor: '#fafafa',
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    },
    title: {
      text: '资产分配图'
    },
    tooltip: {
      pointFormat: '<p>{series.name}: <b>{point.percentage:.1f} %</b><p><br/><p>资产额: <b>{point.y}元</b></p>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          format: '<b>{point.name}</b>: {point.percentage:.1f} %<br/><p><b>资产额</b>: {point.y}元</p>'
        }
      }
    },
    series: [{
      type: 'pie',
      name: '资产占比',
      data: <%= raw @data %>
    }]
  });
});
</script>