body, button, input, select, textarea, h1 ,h2, h3, h4, h5, h6 {
  font-family: Microsoft YaHei, '黑体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

// 意见反馈
.user-feedback {
  position:fixed;
  right:8px;
  bottom:4px;
  z-index:1000
}
.user-feedback a {
  color:#fff;
  font-size:12px;
  display:block;
  padding:4px 10px;
  background-color:#0091ca
}
.user-feedback a:hover {
  text-decoration:none;
  background-color:#00a8e6
}
