<!DOCTYPE html>
<html>
<head>
  <title>BB Ranking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <nav class="uk-navbar uk-margin-large-bottom">
        <div class="uk-navbar-content uk-navbar-center">
          宝宝收益排行榜
        </div>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
